@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .wrapper {
    @apply max-w-7xl p-4 h-screen overflow-hidden
  }

  .gradient-to-bottom {
    @apply bg-gradient-to-b from-pink-primary to-orange-primary
  }

  .gradient-to-right {
    @apply bg-gradient-to-r from-pink-primary to-orange-primary
  }

  .gradient-to-bottom-right {
    @apply bg-gradient-to-br from-pink-primary to-orange-primary
  }
}